*.swp
package-lock.json
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

.idea
.vscode
.env
backend/.env
staticfiles
__pycache__
db.sqlite3
backend/__pycache__
backend/.idea
backend/.vscode
backend/staticfiles
