*.swp
package-lock.json
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

.idea
.vscode
.env
src/.env
staticfiles
__pycache__
db.sqlite3
src/__pycache__
src/.idea
src/.vscode
src/staticfiles
